@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.scss";
@import "../../shared/style-temp/index.scss";


@mixin scrollbar() {

    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-blue-600;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-blue-800 ;
    }
}

html {

    font-weight: 300;

    @apply transition-all;
    @include scrollbar();

    &[data-mode="dark"] {
        @apply bg-dark-500 text-[#fff];

    }

    &[data-mode="light"] {
        @apply text-black bg-light-200;

    }
}
html, body , #__next{
    
    height: 100%;
}